*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin
.idea
cmake-build-debug
src
utils
build.bat
build.sh
CMakeLists.txt
linux
win32
Images
cmake-build-release
TP10/WorkDirectory-tp10/matrix.bin
TP10/WorkDirectory-tp10/result.bin
TP10/WorkDirectory-tp10/vector.bin
*.bin
TP11/WorkDirectory-tp11/matrixA.bin
TP11/WorkDirectory-tp11/matrixB.bin
TP11/WorkDirectory-tp11/matrixC.bin
